* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  --Dark-Cyan: hsl(185, 75%, 39%);
  --Very-Dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}

body {
  background-color: var(--Dark-Cyan);
  position: relative;
  overflow: hidden;
}

.card-container {
  background-color: rgb(255, 255, 255);
  max-width: 350px;
  margin: 200px auto 50px;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 1.2rem;
}

.top-pattern {
  position: absolute;
  right: 50%;
  bottom: 50%;
  overflow: hidden;
}

.bottom-pattern {
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
}

.blue-pattern {
  max-width: 100%;
}

.victor-image {
  border: 5px solid #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 92px;
  left: 122px;
}

.profile-info {
  margin: 75px 0 20px;
  line-height: 2rem;
}

.name {
  font-size: 18px;
  font-weight: 700;
}

.stats {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  letter-spacing: 0.1rem;
  border-top: 1px solid hsl(0, 0%, 83%);
  padding: 20px;
}

.stat-number {
  font-size: 18px;
  font-weight: 700;
}
.followers {
  display: flex;
  flex-direction: column;
}
